<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <h1>Current Drafts that need approval</h1>
    <% Hirb.enable %>
    <% Draft.all.each do |item| %>
    <% if item.accepted == nil and item.rejected == nil %>
    <%= item.venue_name%>|
    <%= item.venue_address%>|
    <%= item.venue_ownername%>|
    </br>
    <% end %>
    </br>
    <% end %>
    <a href="/home">Draft Page</a>
</body>
</html>
